<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
<style type="text/css">
.jumbotron-wrap{background-position:center; background-color:#fff; position:relative;padding-top:60px;}
  .jumbotron-bottom {}
    .star-image{margin-top:10px; margin-right:10px; float:left}
    .jumbotron-bottom p{font-size:15px; font-style:normal; font-family:'Merriweather', Georgia, 'Times New Roman', Times, serif }
    .jumbotron-bottom .donor-stats > div{text-align:center; padding-top:9px; font-family:'Roboto', sans-serif}
    .jumbotron-bottom h5{font-weight:400}
    .jumbotron-bottom h5 .text-red{font-weight:500; font-size:30px}
    .jumbotron .ir.link-cover{display:block; width:100%; min-height:290px; position:absolute; top:80px;bottom:0;z-index:100;}
  .jumbotron p{text-align:center;}

.jumbotron{padding:0;}
  .jumbotron .fa:first-child{margin-right:8px;}
  .jumbotron .fa:last-child{margin-left:8px;}
  .court-image{height:64px;background:transparent url(/images/campaigns/maydayin30-judges/court.png) center 0 no-repeat;}
     p.nonsemantic-subhead{margin:0;text-transform:uppercase;font-size:45px;font-weight:900;font-family:'Roboto', sans-serif;line-height: 45px; margin-bottom: 10px;}
  .red-bar{background:#cc3333;overflow:hidden;padding:10px 0 20px;margin-bottom:10px;}
    .red-bar hr{border-color:#fff;border-width:1px;margin:8px 0 0;}
    .judges-wrap ul{list-style-type:none;text-indent:0;margin:0;}
    .judges-wrap ul li{list-style-type:none;text-indent:0;margin:0;float:left;}
      .judges-label, .jumbotron p.court-of{text-transform:uppercase;font-weight:700;letter-spacing:3px;letter-spacing:3px;font-family:'Roboto Condensed', sans-serif;}
      .judges-label{color:#fff;text-align:center;padding:0;}
      .jumbotron p.court-of{color:#3ca5c2;margin-bottom:0;margin-top:4px;}
      .judge{font-size:14px;line-height:16px;padding-top:65px;margin-top:10px;text-align:center;color:#fff;background:transparent center 0 no-repeat;font-family:'Roboto Condensed', sans-serif;}
        .george-takei{background-image:url(/images/campaigns/maydayin30-judges/judge-george-takei.png);}
        .jason-alexander{background-image:url(/images/campaigns/maydayin30-judges/judge-jason-alexander.png);}
        .shepard-fairey{background-image:url(/images/campaigns/maydayin30-judges/judge-shepard-fairey.png);}
        .zephyr-teachout{background-image:url(/images/campaigns/maydayin30-judges/judge-zephyr-teachout.png);}
        .you{background-image:url(/images/campaigns/maydayin30-judges/judge-you.png);height:83px;}
        .marianne-williamson{background-image:url(/images/campaigns/maydayin30-judges/judge-marianne-williamson.png);}
        .baratunde-thurston{background-image:url(/images/campaigns/maydayin30-judges/judge-baratunde-thurston.png);}
        .anna-galland{background-image:url(/images/campaigns/maydayin30-judges/judge-anna-galland.png);}
        .cenk-uygur{background-image:url(/images/campaigns/maydayin30-judges/judge-cenk-uygur.png);}
  .judges-footer {position: relative}
    .judges-footer p{font-family:'Roboto Condensed', sans-serif;color:#3ca5c2;text-transform:uppercase;vertical-align:middle;line-height: 50px;font-size: 24px;}
      .judges-footer p strong{font-family:'Roboto', sans-serif;font-size:60px;padding:0 10px;vertical-align: -23%; line-height: 50px;letter-spacing:-1px;}
    .judges-footer .btn-wrap{position:absolute;top:12px;right:10px;}

@media screen and (max-width:1170px) {
  .judges-footer .btn-wrap{position:relative;margin:0 auto 20px;text-align:center;top:auto;right:auto;}
}

@media screen and (min-width:992px) {
  .jumbotron-wrap{margin-top:0px}
}
@media screen and (max-width:991px) {
  .red-bar hr{display:none;}
  .red-bar .col-md-1.judge{float:left;width:19%;margin-bottom:5px;height:80px;}
  .red-bar .col-md-2.judge.you{height:90px;}

  .jumbotron-bottom .col-md-8 > .ir{display:none}
  .jumbotron-bottom .donor-stats{text-align:center}
  .jumbotron-bottom .donor-stats > div{text-align:center; padding-top:0; margin-bottom:10px; display:inline-block}
}

@media (max-width: 749px) {
  .red-bar{margin-bottom:0;}
  .judges-footer p {line-height: 40px; font-size: 20px; margin-top: 10px;}
  .judges-footer p strong {font-size: 30px; vertical-align: -5%; line-height: 40px; }
}


</style>
<div class="jumbotron-wrap">
  <section class="jumbotron">
    <a href="https://mayday.us/campaigns/maydayin30/" title="Enter Mayday in 30 Contest!" class="ir link-cover">&nbsp;</a>
    <div class="container">
      <div class="col-md-12">
        <div class="ir court-image">&nbsp;</div>
        <p class="court-of"><span class="fa fa-star"></span>The Supreme Court of <span class="fa fa-star"></span></p>
        <p class="nonsemantic-subhead">Money in Politics</p>
      </div>
    </div>
    <div class="red-bar">
      <div class="container">
        <div class="col-md-12 judges-wrap">
          <div class="row">
            <div class="col-md-5"><hr /></div><div class="col-md-2 judges-label"><span class="fa fa-star"></span>The Judges<span class="fa fa-star"></span></div><div class="col-md-5"><hr /></div>
          </div>
          <div class="row">
          <div class="col-md-1 col-md-offset-1 judge george-takei">George Takei</div>
          <div class="col-md-1 judge jason-alexander">Jason Alexander</div>
          <div class="col-md-1 judge shepard-fairey">Shepard Fairey</div>
          <div class="col-md-1 judge zephyr-teachout">Zephyr Teachout</div>
          <div class="col-md-2 judge you ir">You</div>
          <div class="col-md-1 judge marianne-williamson">Marianne Williamson</div>
          <div class="col-md-1 judge baratunde-thurston">Baratunde Thurston</div>
          <div class="col-md-1 judge anna-galland">Anna Galland</div>
          <div class="col-md-1 judge cenk-uygur">Cenk Uygur</div>
        </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12 judges-footer">
        <p>Enter the <strong>#maydayin30</strong> video contest</p>
        <div class="btn-wrap">
          <a href="https://mayday.us/campaigns/maydayin30/" class="btn">Enter Now</a>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="jumbotron-bottom">
  <hr/>
  <div class="container" style="padding-top:0;padding-bottom:0">
    <div class="row">
      <div class="col-md-7">
        <p><strong><a href="/the-plan" title="Learn More">MAYDAY.US</a></strong> is a crowd-funded SuperPAC to end all SuperPACs... including this one. Help us reduce the influence of money in politics by electing a Congress committed to fundamental reform by 2016. <a href="/the-plan" title="Learn More">Let's win our democracy back!</a> </p>
      </div>

      <div class="col-md-5 donor-stats">
        <div class="col-md-7">
          <span class="ir star-image">&nbsp;</span>
          <h5><span class="text-red" id="totalAmount">$7,934,519</span><br /> Raised</h5>
        </div>
        <div class="col-md-5">
          <span class="ir star-image">&nbsp;</span>
          <h5><span class="text-red" id="numPledges">61,621</span><br /> Donors</h5>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</div>