<style type="text/css" media="screen">
  .jumbotron-wrap{background:#eaebe5 url('/images/hero/20141009-upton-ad-3.png') no-repeat 10% 50px;padding-top: 70px;}
  .jumbotron{position:relative;}
    /*.jumbotron > a.ir{background:transparent url('/images/hero/youtube.png') no-repeat center center;}*/
    .jumbotron .jumbotron-content{background: rgba(255,255,255,0.8);}
    .jumbotron a.ir.link-cover{display:block; width:100%; min-height:290px; position:absolute;top:0;bottom:0;z-index:100;width:54%;}
    /*.jumbotron a.ir.link-cover:hover{background:transparent url('/images/hero/youtube-hover.png') no-repeat 80% 270px;}*/
  .jumbotron-bottom {}
    .star-image{margin-top:10px; margin-right:10px; float:left}
    .jumbotron-bottom p{text-align:center;font-size:15px; font-style:normal; font-family:'Merriweather', Georgia, 'Times New Roman', Times, serif }
    .jumbotron-bottom .donor-stats > div{text-align:center; padding-top:9px; font-family:'Roboto', sans-serif}
    .jumbotron-bottom h5{font-weight:400}
    .jumbotron-bottom h5 .text-red{font-weight:500; font-size:30px}
@media screen and (min-width: 1570px) {
  .jumbotron-wrap{background-position:30% 50px}
}
@media screen and (min-width: 1400px) and (max-width: 1569px) {
  .jumbotron-wrap{background-position:25% 50px}
}
@media screen and (max-width: 1174px) {
  .jumbotron-wrap{background-position:-20px 50px;background-size:740px;}
}
@media screen and (max-width: 992px) {
  .jumbotron-wrap{background-image:none;}
  .jumbotron .container{background: rgba(255,255,255,0.9); }
  .jumbotron .jumbotron-content{width:100%; background:transparent;}
  .jumbotron > a.ir.link-cover{display: none;}
}
</style>

<div class="jumbotron-wrap" style="">
  <section class="jumbotron">
    <a href="/donations/clements/" title="Watch the Video!" class="ir link-cover">&nbsp;</a>
    <div class="container">
      <div class="col-md-offset-8 col-md-4 jumbotron-content">
        <hr />
        <h2>Help Us Fight Corruption</h2>
        <p>Let's unseat Fred Upton in Michigan's 6th district.</p>
        <a href="/donations/clements/" class="btn">Watch the Ad!</a>
        <hr />
      </div>
    </div>
  </section>
</div>
<div class="jumbotron-bottom">
  <hr/>
  <div class="container" style="padding-top:0;padding-bottom:0">
    <div class="row">
      <div class="col-md-7">
        <p><strong><a href="/the-plan" title="Learn More">MAYDAY.US</a></strong> is a crowd-funded SuperPAC to end all SuperPACs... including this one. Help us reduce the influence of money in politics by electing a Congress committed to fundamental reform by 2016. <a href="/the-plan" title="Learn More">Let's win our democracy back!</a> </p>
      </div>

      <div class="col-md-5 donor-stats">
        <div class="col-md-7">
          <span class="ir star-image">&nbsp;</span>
          <h5><span class="text-red">$7,934,519</span><br /> Raised</h5>
        </div>
        <div class="col-md-5">
          <span class="ir star-image">&nbsp;</span>
          <h5><span class="text-red">61,621</span><br /> Donors</h5>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</div>
