<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
<style type="text/css" media="screen">
  .jumbotron-wrap{background:#051d29 url('/images/hero/20141017-kansas-callers.jpg') no-repeat 100% -100px;padding-top: 70px;}
  .jumbotron{position:relative;}
    /*.jumbotron > a.ir{background:transparent url('/images/hero/youtube.png') no-repeat center center;}*/
    .jumbotron .jumbotron-content{background: rgba(255,255,255,0.8);}
    .jumbotron h2{line-height:95%;}
    .jumbotron a.ir.link-cover{display:block; width:100%; min-height:290px; position:absolute;top:0;bottom:0;z-index:100;width:54%;}

@media screen and (min-width: 1700px) {
  .jumbotron-wrap{background-position: -250px -100px}
}
@media screen and (max-width: 1174px) {
  .jumbotron-wrap{background-position: 70% -100px}
}
@media screen and (max-width: 992px) {
  .jumbotron .container{background: rgba(255,255,255,0.9); }
  .jumbotron-wrap{background-position: center -100px}
  .jumbotron .jumbotron-content{width:100%; background:transparent;}
  .jumbotron > a.ir.link-cover{display: none;}
}
</style>

<div class="jumbotron-wrap" style="">
  <section class="jumbotron">
    <a href="http://calloutthevote.mayday.us/act/COTV_2014_mayday_info" title="Watch the Video!" class="ir link-cover">&nbsp;</a>
    <div class="container">
      <div class="col-md-offset-7 col-md-5 jumbotron-content">
        <hr />
        <h2>Fight for a<br /><span>&ldquo;No Strings Attached&rdquo;</span> Congress</h2>
        <p>Call undecided voters in our districts to support our pro-reform candidates.</p>
        <a href="http://calloutthevote.mayday.us/act/COTV_2014_mayday" class="btn">Sign up to call</a>
        <hr />
      </div>
    </div>
  </section>
</div>
{% include jumbotrons/jumbotron-bottom.html %}
