<style type="text/css" media="screen">
  .we-did-it{background:#eaebe5 url('/images/hero/20141010-greg-orman-2.jpg') no-repeat 10% center;}
  .we-did-it jumbotron-wrap{padding-top: 70px;}
  .we-did-it .jumbotron{position:relative;}
    /*.we-did-it .jumbotron > a.ir{background:transparent url('/images/hero/youtube.png') no-repeat center center;}*/
    .we-did-it .jumbotron .jumbotron-content{background: rgba(255,255,255,0.8);padding-top: 20px;}
    .we-did-it .jumbotron a.ir.link-cover{display:block; width:100%; min-height:290px; position:absolute;top:0;bottom:0;z-index:100;width:54%;}
    /*.we-did-it .jumbotron a.ir.link-cover:hover{background:transparent url('/images/hero/youtube-hover.png') no-repeat 80% 270px;}*/

.progress-bar {
  background-color: rgba(200,200,200,0.3);
  height: 40px;
  padding: 5px;
  width: 100%;
  margin: 0 0 20px;
  border-radius: 5px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  text-align:left;
}

.progress-bar span {
  float:left;
  height: 100%;
}

.progress-bar .to-go{
  font-size: 20px;
  font-weight: 700;
  color: #cc3333;
  padding: 0;
  width: 69%;
  text-align: center;
  box-sizing: border-box;
  padding-top: 6px;
}

.progress-bar span.bar {
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  transition: width .4s ease-in-out;
  background-color: #cc3333;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  padding-top: 6px;
}

.we-did-it .jumbotron .form-control {
  box-shadow: 2px 2px 2px #aaa;
  border: 1px solid #aaa;
}

@media screen and (min-width: 1570px) {
  /*.jumbotron-wrap{background-position:30% 50px}*/
}
@media screen and (min-width: 1400px) and (max-width: 1569px) {
  /*.jumbotron-wrap{background-position:25% 50px}*/
}
@media screen and (max-width: 1174px) {
  .we-did-it .jumbotron-wrap{background-position:20% center}
}
@media screen and (max-width: 992px) {
  .we-did-it .jumbotron .container{background: rgba(255,255,255,0.9);padding-bottom:20px }
  .we-did-it .jumbotron .jumbotron-content{width:100%; background:transparent;}
  .we-did-it .jumbotron > a.ir.link-cover{display: none;}
}

</style>

<div class="jumbotron-wrap" style="">
  <section class="jumbotron">
    <a href="/donations/orman/" title="Watch the Video!" class="ir link-cover">&nbsp;</a>
    <div class="container">
      <div class="col-md-offset-7 col-md-5 jumbotron-content">
        <h2>We did it!</h2>
        <p>Thanks to our incredible supporters, we raised over $200k in one weekend. Our team is huddling on next steps for Independent reformer Greg Orman in Kansas. Stay tuned!</p>
        <div class="progress-bar">
          <span class="bar" style="width:100%">We Raised $200k!</span>
        </div>
        <form action="https://pledge.mayday.us/r/subscribe" role="form" method="post" accept-charset="utf-8">
          <input type="hidden" name="redirect" value="https://mayday.us/subscribe/" />
          <input type="hidden" name="source" value="" />
          <div class="form-group">
            <input type="email" name="email" placeholder="Email" class="form-control" required />
          </div>
          <button type="submit" class="btn">Join Now</button>
        </form>
      </div>
    </div>
  </section>
</div>
