<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
<style type="text/css">
.vote-now .jumbotron-wrap{background-position:center; background-color:#fff; position:relative;padding-top:60px;}
.vote-now .jumbotron{padding:0;text-align:center;}
  .vote-now .jumbotron .fa:first-child{margin-right:8px;}
  .vote-now .jumbotron .fa:last-child{margin-left:8px;}
  .vote-now .court-image{height:64px;background:transparent url(/images/campaigns/maydayin30-judges/court.png) center 0 no-repeat;}
    .vote-now  p.nonsemantic-subhead{margin:0;text-transform:uppercase;font-size:45px;font-weight:900;font-family:'Roboto', sans-serif;line-height: 45px; margin-bottom: 10px;}
  .vote-now .red-bar{background:#cc3333;overflow:hidden;padding:10px 0 20px;margin-bottom:10px;}
    .vote-now .red-bar hr{border-color:#fff;border-width:1px;margin:8px 0 0;}
    .vote-now .judges-wrap ul{list-style-type:none;text-indent:0;margin:0;}
    .vote-now .judges-wrap ul li{list-style-type:none;text-indent:0;margin:0;float:left;}
      .vote-now .judges-label, .jumbotron p.court-of{text-transform:uppercase;font-weight:700;letter-spacing:3px;letter-spacing:3px;font-family:'Roboto Condensed', sans-serif;}
      .vote-now .judges-label{color:#fff;text-align:center;padding:0;}
      .vote-now .jumbotron p.court-of{color:#3ca5c2;margin-bottom:0;margin-top:4px;}
      .vote-now .judge{font-size:14px;line-height:16px;padding-top:65px;margin-top:10px;text-align:center;color:#fff;background:transparent center 0 no-repeat;font-family:'Roboto Condensed', sans-serif;}
        .vote-now .george-takei{background-image:url(/images/campaigns/maydayin30-judges/judge-george-takei.png);}
        .vote-now .jason-alexander{background-image:url(/images/campaigns/maydayin30-judges/judge-jason-alexander.png);}
        .vote-now .shepard-fairey{background-image:url(/images/campaigns/maydayin30-judges/judge-shepard-fairey.png);}
        .vote-now .zephyr-teachout{background-image:url(/images/campaigns/maydayin30-judges/judge-zephyr-teachout.png);}
        .vote-now .you{background-image:url(/images/campaigns/maydayin30-judges/judge-you.png);height:83px;}
        .vote-now .marianne-williamson{background-image:url(/images/campaigns/maydayin30-judges/judge-marianne-williamson.png);}
        .vote-now .baratunde-thurston{background-image:url(/images/campaigns/maydayin30-judges/judge-baratunde-thurston.png);}
        .vote-now .anna-galland{background-image:url(/images/campaigns/maydayin30-judges/judge-anna-galland.png);}
        .vote-now .cenk-uygur{background-image:url(/images/campaigns/maydayin30-judges/judge-cenk-uygur.png);}
  .vote-now .judges-footer {position: relative}
    .vote-now .judges-footer p{font-family:'Roboto Condensed', sans-serif;color:#3ca5c2;text-transform:uppercase;vertical-align:middle;line-height: 50px;font-size: 24px;}
      .vote-now .judges-footer p strong{font-family:'Roboto', sans-serif;font-size:60px;padding:0 10px;vertical-align: -23%; line-height: 50px;letter-spacing:-1px;}
    .vote-now .judges-footer .btn-wrap{position:absolute;top:12px;right:10px;}
    .vote-now .jumbotron .btn{margin-bottom: 5px;}
    .vote-now .ir.link-cover{width:100%;position:absolute;top:0;bottom:0;left:0;z-index:100;}


@media screen and (max-width:1170px) {
  .vote-now .judges-footer .btn-wrap{position:relative;margin:0 auto 20px;text-align:center;top:auto;right:auto;}
  .vote-now .jumbotron .btn{margin-bottom:10px;margin-top: 10px}
}

@media screen and (min-width:992px) {
  .vote-now .jumbotron-wrap{margin-top:0px}
}
@media screen and (max-width:991px) {
  .vote-now .red-bar hr{display:none;}
  .vote-now .red-bar .col-md-1.judge{float:left;width:19%;margin-bottom:5px;height:80px;}
  .vote-now .red-bar .col-md-2.judge.you{height:90px;}
}

@media (max-width: 749px) {
  .vote-now .red-bar{margin-bottom:0;}
  .vote-now .judges-footer p {line-height: 40px; font-size: 20px; margin-top: 10px;}
  .vote-now .judges-footer p strong {font-size: 30px; vertical-align: -5%; line-height: 40px; }
}
</style>
<div class="jumbotron-wrap vote-now">
  <section class="jumbotron">
    <a href="https://mayday.us/campaigns/maydayin30/" title="Enter Mayday in 30 Contest!" class="ir link-cover">&nbsp;</a>
    <div class="container">
      <div class="col-md-12">
        <div class="ir court-image">&nbsp;</div>
        <p class="court-of"><span class="fa fa-star"></span>The Supreme Court of <span class="fa fa-star"></span></p>
        <p class="nonsemantic-subhead">Money in Politics Video Contest</p>
      </div>
    </div>
    <div class="red-bar">
      <div class="container">
        <div class="col-md-12 judges-wrap">
          <div class="row">
            <div class="col-md-5"><hr /></div><div class="col-md-2 judges-label"><span class="fa fa-star"></span>The Judges<span class="fa fa-star"></span></div><div class="col-md-5"><hr /></div>
          </div>
          <div class="row">
          <div class="col-md-1 col-md-offset-1 judge george-takei">George Takei</div>
          <div class="col-md-1 judge jason-alexander">Jason Alexander</div>
          <div class="col-md-1 judge shepard-fairey">Shepard Fairey</div>
          <div class="col-md-1 judge zephyr-teachout">Zephyr Teachout</div>
          <div class="col-md-2 judge you ir">You</div>
          <div class="col-md-1 judge marianne-williamson">Marianne Williamson</div>
          <div class="col-md-1 judge baratunde-thurston">Baratunde Thurston</div>
          <div class="col-md-1 judge anna-galland">Anna Galland</div>
          <div class="col-md-1 judge cenk-uygur">Cenk Uygur</div>
        </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12 judges-footer">
        <p>#MAYDAYin30<strong> VOTE NOW</strong> <a href="https://mayday.us/campaigns/maydayin30/" class="btn">Cast Your Vote</a></p>
        </div>
      </div>
    </div>
  </section>
</div>