<style type="text/css" media="screen">
  .jumbotron-bottom {}
    .star-image{margin-top:10px; margin-right:10px; float:left}
    .jumbotron-bottom p{text-align:center;font-size:15px; font-style:normal; font-family:'Merriweather', Georgia, 'Times New Roman', Times, serif }
    .jumbotron-bottom .donor-stats > div{text-align:center; padding-top:9px; font-family:'Roboto', sans-serif}
    .jumbotron-bottom h5{font-weight:400}
    .jumbotron-bottom h5 .text-red{font-weight:500; font-size:30px}
  @media screen and (max-width:991px) {
    .jumbotron-bottom .col-md-8 > .ir{display:none}
    .jumbotron-bottom .donor-stats{text-align:center}
    .jumbotron-bottom .donor-stats > div{text-align:center; padding-top:0; margin-bottom:10px; display:inline-block}
  }
</style>

<div class="jumbotron-bottom">
  <hr/>
  <div class="container" style="padding-top:0;padding-bottom:0">
    <div class="row">
      <div class="col-md-7">
        <p><strong><a href="/the-plan" title="Learn More">MAYDAY.US</a></strong> is a crowd-funded SuperPAC to end all SuperPACs... including this one. Help us reduce the influence of money in politics by electing a Congress committed to fundamental reform by 2016. <a href="/the-plan" title="Learn More">Let's win our democracy back!</a> </p>
      </div>

      <div class="col-md-5 donor-stats">
        <div class="col-md-7">
          <span class="ir star-image">&nbsp;</span>
          <h5><span class="text-red" id="total-donated">$10,563,094</span><br /> Raised</h5>
        </div>
        <div class="col-md-5">
          <span class="ir star-image">&nbsp;</span>
          <h5><span class="text-red" id="total-donors">64,589</span><br /> Donations</h5>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</div>