html,body {
  font-family: Helvetica,Arial,sans-serif;
  background: #000;
  font-size:16px;
}
body {
  padding-top: 20px;
}
.default-body {
  padding-top: 70px;
}
#candidate {
  padding-top: 90px;
}

/* START HEADER */
.navbar-toggle .icon-bar {
  background-color: #000
}
.navbar-brand {
  background: transparent url('/images/mayday-pac-logo.png') no-repeat 0 0;
  background-size: cover;
  width: 272px;
  height: 87px;
  position: absolute;
  z-index: 10000;
}
.navbar-social {
  z-index: 100;
  position: fixed;
  right: 15px
}
  .navbar-social .navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-social a.social {
    width: 106px;
    height: 26px;
    background-position: 0 -10px;
  }
    .navbar-social a.social.facebook-share {background-image: url('/images/share-facebook.png') }
    .navbar-social a.social.twitter-share {background-image: url('/images/share-twitter.png') }
    .navbar-social a.social.email-share {background-image: url('/images/share-email.png') }

.navbar-primary {
  padding-left: 272px;
  position: absolute;
  z-index: 100;
  top: 26px;
  width: 100%;
}
  .navbar-primary .navbar-nav{
    padding-left:10px;
    width:100%;
  }
  .navbar-primary .navbar-nav>li:after{content:""; background: black; position: absolute; bottom: 14px; right: 0; height: 16px; width: 1px;}
  .navbar-primary .navbar-nav>li:last-child:after{width:0px}

  .navbar-primary .navbar-nav>li>a {
    padding: 13px 20px;
    text-transform: uppercase;
    color: #444;
    font-weight: 400;
    letter-spacing:90%;
    height: 45px;
  }

    .jumbotron .btn {
      background-color: #cc3333;
      border: 0;
      border-radius: 0;
      margin: 0;
      position: relative;
      padding-left: 18px;
      padding-right: 22px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      box-shadow: 0 0 3px rgba(0,0,0,0.3)
    }
    .jumbotron .btn:after{
      content: "";
      position: absolute;
      top: 5px; /* move it down because of rounded corners */
      width: 22px; /* same as height */
      height: 22px; /* button_outer_height / sqrt(2) */
      background: #fff; /* use parent background */
      border: inherit; /* use parent border */
      border-left-color: transparent; /* hide left border */
      border-bottom-color: transparent; /* hide bottom border */
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      right: -11px;
      z-index: 1;
      background-color:inherit;
    }

    .btn.ribbon:before {
      left: -11px;
      z-index: 1;
    }
    .navbar-primary .navbar-nav>li>a.btn.ribbon{
      padding: 7px 40px 0;
      height: 33px;
      color: #fff;
      font-weight: 700;
      margin-top: 5px;
      margin-right: 20px;
      text-transform: uppercase;
      background: transparent url(/images/donate-button.png) 0 0 no-repeat;/*142x33*/
    }
    .btn.ribbon:hover{
      text-shadow: 0 0 3px rgba(0,0,0,0.8);
    }

  .navbar-primary .navbar-nav .fa.fa-caret-down{
    padding-left:5px;
  }

  .navbar-toggle .menu-text {
    text-transform: uppercase;
    color: #444;
    font-weight: 700;
    letter-spacing:90%
  }
  .navbar-primary .in .navbar-nav>li {
    background-color: rgba(255,255,255,0.8);
  }
  .navbar-primary .navbar-nav>li>a small {
    vertical-align: top;
    padding-left:5px;
    border-right: solid 1px #333;
    padding-right:20px ;
  }
  .dropdown-menu {
    border: 0;
    border-radius: 0;
    margin: 0;
  }
  .dropdown-menu>li>a {
    padding: 10px 20px;
  }
  .dropdown-menu>li>a:before {
    content: '» ';
  }
.header-bg-1, .header-bg-2 {
  position: absolute;
  z-index: 1;
  width: 100%;
}
  .header-bg-1 {
    background: #000;
    height: 26px;
    top: 0
  }
  .header-bg-2 {
    background: rgba(255,255,255,0.9);
    height: 45px;
    top: 26px;
    border-bottom:solid 1px #cccccc;
  }

.navbar-primary a {
  font-family:'Roboto', Helvetica;
  font-weight:100;
}
.navbar-nav a {
  font-family:'Roboto', sans-serif;
  font-weight:100;
  letter-spacing: .1em;
}




/* FOOTER SECTION */
footer {
  color: #999;
  background-color:black;
}
  .donate-wrap {
    background: #444;
    text-align: center;
    padding: 5px 0;
    margin: 0 0 20px;
  }
    .donate-wrap hr {
      border-color: #666;
      margin:0;
    }
    .donate-wrap .container {
      padding-top: 20px;
      padding-bottom: 20px
    }
    .donate-wrap a {
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
    }
    .donate-wrap a.ir {
      background: transparent url('/images/btn-donate.png') center center no-repeat;
      width: 289px;
      height: 47px;
      display: block;
      margin: 0 auto;
    }
  .social-link {
    float: right;
    width: 55px;
    height: 54px;
    background: transparent 0 0 no-repeat;
    margin-left: 10px;
  }
    .social-link.facebook {
      background-image: url('/images/link-facebook.png');
    }
    .social-link.twitter {
      background-image: url('/images/link-twitter.png');
    }
  .safeharbor{
    font: normal 1em/1.4 'Merriweather', Georgia, "Times New Roman", Times, serif;
    display: inline-block;
    color: #aaa;
    text-align: center;
    font-size: 16px;
    padding: 10px 10px 0 10px;
    border: 2px solid #aaa;
    font-variant: small-caps;
    margin-bottom:10px;
  }
/* END FOOTER SECTION */

.ir/* Image replacement: header social share, footer FB/Twitter */ {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px
}
.text-red {
  color: #cc3333 !important;
}
.float-right{
  float:right !important;
}
.float-left{
  float:left !important;
}
.cross-stitched {
  width: 100%;
  background: transparent url('/images/bg-crossstitch.jpg');
  padding-bottom: 60px
}




@media (max-width: 1201px) {
  .navbar-primary .navbar-nav>li>a.btn.ribbon{
    margin-left:10px;
  }
  .navbar-primary .navbar-nav>li.pull-right.btn-wrap{
    float:left !important;
  }
  .navbar-primary .navbar-nav{
    padding-left:5px
  }
  .navbar-primary .navbar-nav>li>a {
    padding: 13px 10px;
  }
  .navbar-primary .navbar-nav .fa.fa-caret-down{
    padding-left:1px;
  }
}

@media (min-width: 992px) {
  .navbar-primary .navbar-nav>li.no-border:after{width:0px}
}

@media (max-width: 992px) {
  .navbar-primary .navbar-nav .fa.fa-caret-down{
    display:none;
  }

  .navbar-primary .navbar-nav>li>a {
    letter-spacing:0;
  }
  .navbar-primary .navbar-nav>li>a.btn.ribbon:before, .navbar-primary .navbar-nav>li>a.btn.ribbon:after{display:none;}
  .navbar-primary .navbar-nav>li>a.btn.ribbon{
    padding: 13px 0 13px 10px;
    height: 45px;
    background: inherit;
    color: #444;
    border: none;
    margin: 0;
    font-weight: 400;
    box-shadow: none;
    float: left;
    font-size:16px;
  }
  .navbar-primary .navbar-nav{
      /*padding-left:0;*/
    }
  .navbar-primary {
    padding-left: 252px
  }
  .navbar-brand {
    background-size: contain;
    width: 258px;
  }
}

/* For iPad and smaller screens */
@media (max-width: 768px) {
  .navbar-primary {
    padding-left:200px;
  }
}

/* For iPhone and smaller screens */
@media (max-width: 320px) {
    .navbar-primary {
      padding-left:100px;
    }
    .navbar-brand {
      width: 222px;
      height: 70px;
      top:10px;
    }
}

