---
layout: newpledge
title: MAYDAY.US - A Crowdfunded, Kickstarted SuperPAC to end all SuperPACs
omit_title_suffix: true
cssid: newpledge
disable-pledge-sidebar: true
hidePrimaryNav: true
---

<div class="jumbotron">
<div class="row">
<div class="col-md-5">
  <div id="pledgeBox" style="width:100%;margin-bottom:10px;max-width:450px">
    <div class="info">
      <h2>Help Us Fund this Ad</h2>
      <p>Donations from this page will be used <em>specifically</em> for our independent campaign to support Rick Weiland in South Dakota's Senate race. Click here to make a donation to the general MAYDAY PAC fund instead. <a href="/newpledge">General Donation.</a></p>
    </div>
    {% include pledgeform-candidate-generic.html %}
  </div>
</div>
<div class="col-md-7" style="">
  <iframe style="height:550px;width:100%" src="//www.youtube.com/embed/Lg93-rsSbDs" frameborder="0" allowfullscreen></iframe>
</div>
</div>
  <div id="mainrules" class="well rules">
    {% include pledge-rules.html %}
  </div>
</div>


{% include footer.html %}

